# Dependencies
node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
yarn-error.log

# Environment variables
.env
.env.local

# OS
.DS_Store
*.swp
.vscode/
.idea/

# Testing
coverage/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# TypeScript
*.tsbuildinfo